<div class="contact-information">
  <div class="container">
    <div class="d-block d-md-flex">
      <div class="col-12 col-md-6 pl-md-0 pt-4">
        <div class="address">
          <h5 class="text-white text-uppercase font-weight-bold">Physical Address</h5>
          <div class="pl-1">
            <p class="text-white mb-0">{{contact.lineOne}}</p>
            <p class="text-white mb-0">{{contact.lineTwo}}</p>
            <p class="text-white mb-0">{{contact.lineThree}}</p>
            <p class="text-white">{{contact.lineFour}}</p>
          </div>
        </div>
        <div>
          <hr class="mb-0" />
        </div>
        <div class="contact-details pt-3">
          <h5 class="text-white text-uppercase font-weight-bold">Contact Info</h5>
          <div class="text-white">
            <label>Email:</label><label class="pl-1">{{contact.email}}</label>
          </div>
          <div class="text-white">
            <label>Cell Number:</label><label class="pl-1">{{contact.cellNumber}}</label>
          </div>
          <div class="text-white">
            <label>Land Line:</label><label class="pl-1">{{contact.landline}}</label>
          </div>
          <div class="text-white">
            <label>Fax Number:</label><label class="pl-1 pb-md-4">{{contact.fax}}</label>
          </div>
        </div>
      </div>
      <hr class="d-block d-md-none" />
      <div class="col-12 col-md-6 pb-3 p-md-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.4093516823955!2d27.979721314911593!3d-26.05287506416502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e957430eb153195%3A0x279ac4456d8c1f2a!2s7%20Seil%20Pl%2C%20Olivedale%2C%20Randburg%2C%202188!5e0!3m2!1sen!2sza!4v1627499791530!5m2!1sen!2sza"
          class="w-100 h-100"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>
