@import "../../../styles/colours";
@import "../../../styles/mixins";

.notification {
  @include box-shadow(0px 2px 5px -2px #000);
  background-color: #26b97a;
  border-radius: 8px;

  fa-icon {
    font-size: 3rem;
    color: #ffffff;
  }
}

textarea {
  width: 100%;
  padding-top: .3rem;
  padding-bottom: .3rem;
  border: 0;
  border-bottom: 2px solid $primary-grey;
  @include transition(all, .18s, ease-in);
  border-radius: 0;
  background-color: transparent;
  color: #ffffff;

  &:focus {
    outline: none;
  }
}

.error {
  border-bottom: 2px solid $error-red;
  color: $error-red;

  &::placeholder {
    color: $error-red;
  }
}
