<div class="hero-image fade-in d-flex flex-column justify-content-between position-relative pb-0">
  <div class="container text-center">
    <img src="./assets/img/logo.png" alt="company logo" />
    <h1 class="text-white text-uppercase font-weight-bold pt-2">{{ heroImage.name }}</h1>
    <p class="mb-3 text-white">{{heroImage.paragraph}}</p>
    <div class="text-white">
      <label>Reg. No: {{ heroImage.regNumber }}</label>
      <p>VAT No: {{ heroImage.vatNumber }}</p>
      <p>{{ beeStatus }}</p>
    </div>
  </div>
</div>
